#parent {
    background-color: red;
    /* height: 470px; */
}
.col-1 {
    float: left;
    width: 50%;
    background-color: lightblue;
}

.col-2 {
    float: left;
    /* float: right; */
    width: 50%;
    /* background-color: lightcoral; */
}

.div_1 {
    background-color: lightgreen;
}

.blank {
    clear: both;
}